
# SYSTÈME ET IDE

Thumbs.db
.idea/
.vscode/
*.swp
*.swo


# Fichiers générés par Python
__pycache__/
*.py[ocd]
build/
dist/
wheels/
*.egg-info/

# Environnements virtuels
.venv/
venv/
env/


# Fichiers générés publiquement
/public/bundles/
/public/build/


# COMPILATEUR C (Binaire & Build)

# Fichiers objets et bibliothèques
*.o
*.a
*.so
*.dylib
*.dll

# Exécutables
*.out
*.exe
*.app




# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
*.vscode/*
!.vscode/extensions.json
*.idea
*.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
